.music-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    transition: opacity 1.5s, transform .25s;
    z-index: 10;
    .play-bar {
        position: relative;
        height: 72px;
        min-width: 600px;
        padding: 0 140px;
        background: #fff;
        box-shadow: inset 0 1px 0 #f2f2f2;
        display: flex;
        justify-content: space-between;
        .music {
            display: flex;
            align-items: center;
            a {
                width: 72px;
                height: 72px;
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                width: 130px;
                margin-left: 8px;
                .title {
                    display: inline-block;
                    color: #4a4a4a;
                    font-size: 14px;
                    line-height: 18px;
                }
                .singer {
                    width: 100%;
                    margin-top: 4px;
                    color: #999;
                    font-size: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .select {
                margin-left: 8px;
                display: inline-block;
                .quality-selector {
                    position: relative;
                    width: 36px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 12px;
                    border-radius: 3px;
                    text-align: center;
                    display: flex;
                    cursor: pointer;
                    color: #999;
                    border: 1px solid #999;
                    justify-content: center;
                }
            }
            .favorite {
                margin-left: 15px;
                font-size: 24px;
                cursor: pointer;
                color: #999;
                height: 28px;
                i {
                    display: inline-block;
                    height: 24px;
                }
            }
        }
        .main-control {
            width: 120px;
            min-width: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .prev, .next {
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 24px;
                cursor: pointer;
                color: #333;
            }
            .play-btn {
                width: 42px;
                height: 42px;
                color: #fff;
                background-color: #ff410f;
                border-radius: 50%;
                font-size: 42px;
                line-height: 42px;
                cursor: pointer;
            }
        }
        .tunings {
            display: flex;
            align-items: center;
            width: 332px;
            justify-content: flex-end;
            .volume-control {
                display: flex;
                align-items: center;
                margin-right: 20px;
                .sound {
                    font-size: 16px;
                    height: 16px;
                    display: inline-flex;
                    margin-right: 2px;
                    cursor: pointer;
                    align-items: center;
                    color: #4a4a4a;
                }
                .bar {
                    display: flex;
                    align-items: center;
                }
                .ant-slider {
                    width: 80px;
                    height: 2px;;
                    font-size: 14px;
                    position: relative;
                    // margin: 14px 6px 10px;
                    margin-left: 6px;
                    margin-top: -4px;
                    cursor: pointer;
                    .ant-slider-rail {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #ff410f;
                        border-radius: 2px;
                    }
                    .ant-slider-track {
                        position: absolute;
                        width: 2px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: #000;
                    }
                    .ant-slider-step {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }
                    .ant-slider-handle {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        margin-top: -5px;
                        margin-left: -1px;
                        border-radius: 50%;
                        border: 1px solid #31c27c;
                        background-color: #fff;
                        cursor: pointer;
                        outline: none;
                    }
                    .ant-slider-track {
                        position: absolute;
                        height: 4px;
                        background-color: #31c27c;
                        margin-top: -1px;
                        z-index: 2;
                    }
                }
            }
            .menu-unfold {
                margin-right: 20px;
            }
        }
    }
    
}