@media (max-width: 1240px) {
    .musician-main,
    .musician-list,
    .musician-playlist {
        min-width: 900px;
        margin: 0 50px;
    }
}
.musician-main,
.musician-list,
.musician-playlist {
    max-width: 1200px;
    margin: 0 auto;
}
.musician-data {
    position: relative;
    height: 250px;
    padding-left: 305px;
    margin-top: 40px;
    margin-bottom: 35px;
    .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        height: 250px;
        border-radius: 999px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 999px;
        }
    }
    .content {
        padding-top: 31px;
        .musician-name {
            line-height: 50px;
            overflow: hidden;
            height: 50px;
            h1 {
                font-size: 38px;
                font-weight: 400;
            }
        }
        .musician-desc {
            font-size: 14px;
            height: 50px;
            line-height: 50px;
            margin-bottom: 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            .musician-desc-popup {
                z-index: 2;
                position: absolute;
                top: 128px;
                right: 85px;
                width: 580px;
                background: #fff;
                box-shadow: 0 0 4px rgba(0,0,0,.35);
                border-radius: 4px;
                white-space: normal;
                min-height: 400px;
                font-size: 14px;
                line-height: 22px;
                margin: 0 5px 30px 10px;
                overflow-y: auto;
                padding: 30px;
                h3 {
                    margin: 0 24px 0 19px;
                    line-height: 22px;
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0 0 20px;
                }
            }
        }
        .musician-statistic {
            height: 23px;
            line-height: 23px;
            overflow: hidden;
            .musician-statistic-item {
                text-align: center;
                padding-right: 20px;
                margin-right: 20px;
                font-size: 18px;
                display: inline-block;
                border-right: solid 1px #c9c9c9;
                padding-right: 20px;
                margin-right: 20px;
                font-size: 18px;
                cursor: pointer;
                strong {
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
        .musician-action {
            position: absolute;
            bottom: 30px;
            .musician-play {
                min-width: 122px;
                text-align: center;
                padding: 0 18px;
                border: 1px solid #31c27c;
                background-color: #31c27c;
                color: #fff;
                border-radius: 2px;
                font-size: 14px;
                margin-right: 6px;
                padding: 0 23px;
                height: 38px;
                line-height: 38px;
                display: inline-block;
                white-space: nowrap;
                box-sizing: border-box;
                overflow: hidden;
                cursor: pointer;
            }
            .musician-follow {
                border: 1px solid #c9c9c9;
                color: #000;
                border-radius: 2px;
                font-size: 14px;
                margin-right: 6px;
                padding: 0 23px;
                height: 38px;
                line-height: 38px;
                display: inline-block;
                white-space: nowrap;
                box-sizing: border-box;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
}
.musician-list {
    position: relative;
    margin-bottom: 30px;
    .list-title {
        height: 60px;
        h2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 58px;
        }
    }
    .list-body {
        font-size: 14px;
        .list-header {
            background-color: #fbfbfd;
            height: 50px;
            line-height: 50px;
            color: #999;
            position: relative;
            padding-left: 46px;
            padding-right: 95px;
            .song-name {
                float: left;
                width: 47.685185%;
                position: relative;
                white-space: normal;
            }
            .song-album {
                float: left;
                padding-left: 15px;
                width: 25.5%;
                box-sizing: border-box;
            }
            .song-time {
                position: absolute;
                top: 0;
                right: 38px;
                width: 50px;
            }
        }
        .list {
            overflow: hidden;
            clear: both;
            li {
                .item {
                    clear: both;
                    overflow: hidden;
                    position: relative;
                    padding-left: 46px;
                    padding-right: 95px;
                    .item-number {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        color: #999;
                        width: 36px;
                        line-height: 50px;
                        height: 50px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                    }
                    .item-name {
                        float: left;
                        width: 47.685185%;
                        position: relative;
                        white-space: normal;
                        line-height: 50px;
                        height: 50px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #000;
                    }
                    .item-album {
                        line-height: 50px;
                        height: 50px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                        float: left;
                        padding-left: 15px;
                        width: 25.5%;
                        box-sizing: border-box;
                    }
                    .item-time {
                        color: #999;
                        position: absolute;
                        top: 0;
                        right: 38px;
                        width: 50px;
                        line-height: 50px;
                        height: 50px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;

                    }
                }
            }
        }
    }
}
.musician-playlist {
    .playlist-title {
        height: 60px;
        h2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 58px;
        }
    }
    .playlist-body {
        .playlist-ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            li {
                display: inline-block;
                width: 20%;
                padding-bottom: 0;
                overflow: hidden;
                font-size: 14px;
                vertical-align: top;
                .playlist-box {
                    position: relative;
                    margin-right: 20px;
                    font-size: 14px;
                    width: 164px;
                    img {
                        width: 164px;
                        height: 164px;
                    }
                    h4 {
                        display: block;
                        margin-block-start: 1.33em;
                        margin-block-end: 1.33em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-weight: bold;
                    }
                    .playlist-other {
                        color: #999;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 22px;
                    }
                }
            }
        }
    }
}